# Life Expectancy Data Wrangling

In this project, I will be looking at a few selected health features to see how they vary across the states in the United States and to see if how they affect life expectancy.

First, I will add the libraries needed and the csv files.

This data was found on Kaggle and originates from University of Wisconsin, School of Medicine and Public Health at
https://www.countyhealthrankings.org/explore-health-rankings/rankings-data-documentation

The data I am looking at is "2021 County Health Rankings National Data"

I have looked through the data and found that the data  breaks down each feature into further categories such as ethnicity of the population.

Some features such as "Poor or fair health" or "Poor physical heath days" were based off of self-reporting by people. I felt that this was a little too subjective. 

* Population
* % Rural
* Premature Deaths : Number of premature deaths (a death is considered premature if the individual is younger than 75)
* Smoking % : Percentage of adults that report currently smoking
* Obesity % : Percentage of adults that report BMI >=30
* Physical Inactivy % : Percentage of adults that report no leisure-time physical activity
* Excessive Drinking: Percentage of adults that report excessive drinking (data does not have additional information on what is considered excessive drinking)
* Uninsured : Number of people under age 65 without insurance 
* PCP Number : Number of Primary Care Physicians in patient care
* PCP Rate : Primary Care Physician per 100,000 population
* MHP Number : Number of Mental Health Providers
* MHP Rate : Mental Health Provider per 100,000 population
* Preventable Hospital Rate : Discharges for Ambulatory Care Sensitive Conditions per 100,000 Medicare Enrollees
* Mammogram % : Percentage of female Medicare enrollees having an annual mammogram (age 65-74)
* Flu Vaccine % : Percentage of Medicare enrollees having an annual flu vaccination 
* Unemployment : Number of people ages 16+ unemployed and looking for work
* Median Household income - 


Due to the way that the excel sheet was downloaded, the column names are very messy. The overall feature is broken into smaller subgroups and the columns are named with the feature first and then the subgroup. I.E. premature_deathDeaths is the feature Premature Deaths, subgroup Deaths(number of deaths)

In [1]:
import csv
import pandas as pd

In [2]:
file = ('rankmd.csv')
df=pd.read_csv(file, sep=';')
df.head()

,FIPS,State,County,Unreliable,premature_deathDeaths,premature_deathYears_of_Potential_Life_Lost_Rate,premature_death_95% CILow,premature_death_95% CI - High,premature_death_Quartile,premature_death_YPLL Rate (AIAN),...,drive_alone_to_work_% Drive Alone (Hispanic) 95% CI - High,drive_alone_to_work_% Drive Alone (White),drive_alone_to_work_% Drive Alone (White) 95% CI - Low,drive_alone_to_work_% Drive Alone (White) 95% CI - High,long_commute_driving_alone_# Workers who Drive Alone,long_commute_driving_alone_% Long Commute - Drives Alone,long_commute_driving_alone_95% CI - Low,long_commute_driving_alone_95% CI - High,long_commute_driving_alone_Quartile,Unnamed: 249
0,1000,Alabama,NaN,NaN,82249.0,9820.0,9718.0,9922.0,NaN,5145.0,...,78.0,87.0,87.0,87.0,2073072,35,34,35,NaN,NaN
1,1001,Alabama,Autauga,NaN,787.0,7830.0,6998.0,8662.0,1.0,NaN,...,NaN,82.0,78.0,87.0,24635,38,34,42,2.0,NaN
2,1003,Alabama,Baldwin,NaN,3147.0,7680.0,7237.0,8124.0,1.0,NaN,...,83.0,82.0,80.0,84.0,93141,40,38,43,3.0,NaN
3,1005,Alabama,Barbour,NaN,515.0,11477.0,9908.0,13045.0,3.0,NaN,...,NaN,86.0,82.0,91.0,8231,31,26,36,2.0,NaN
4,1007,Alabama,Bibb,NaN,476.0,12173.0,10506.0,13839.0,4.0,NaN,...,NaN,NaN,NaN,NaN,8167,52,44,60,4.0,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Columns: 250 entries, FIPS to Unnamed: 249
dtypes: float64(194), int64(34), object(22)
memory usage: 6.1+ MB

The life expectancy column was on a different excel sheet, so I will add the second sheet here.

In [4]:
xls=pd.ExcelFile('rankexcel.xlsx')
df2=pd.read_excel(xls,'Additional Measure Data')
df2=df2.reset_index()
df2=df2.rename(columns={"Unnamed: 1":"State","Unnamed: 2":"County"})
df2=df2.drop(['index','Unnamed: 0'], axis=1)
df2.head()

,State,County,Life expectancy,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 266,% Non-Hispanic White,Unnamed: 268,% not proficient in English,Unnamed: 270,Unnamed: 271,Unnamed: 272,% Females,% Rural,Unnamed: 275
0,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,Life Expectancy (AIAN) 95% CI - High,Life Expectancy (Asian),Life Expectancy (Asian) 95% CI - Low,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% Female,# Rural,% Rural
1,Alabama,NaN,75.548075,75.4649,75.631251,114.483062,100.157886,128.808237,88.144914,86.519732,...,4.553734,3200828,65.280588,50445,1.100683,1.044536,1.15683,51.673922,1957932,40.963183
2,Alabama,Autauga,77.162581,76.392165,77.932998,NaN,NaN,NaN,NaN,NaN,...,2.990925,41215,73.770785,419,0.803251,0.281955,1.324548,51.507992,22921,42.002162
3,Alabama,Baldwin,78.213405,77.82357,78.60324,NaN,NaN,NaN,83.027953,79.672306,...,4.718815,185747,83.207307,1425,0.708458,0.420294,0.996622,51.509627,77060,42.279099
4,Alabama,Barbour,74.054741,72.874678,75.234805,NaN,NaN,NaN,NaN,NaN,...,4.524832,11235,45.511626,454,1.890721,1.044348,2.737094,47.079316,18613,67.789635

Now I will merge the life expectancy column onto first dataframe

In [5]:
data_merged=df.merge(df2, on=['County','State'])
data_merged.head()

,FIPS,State,County,Unreliable,premature_deathDeaths,premature_deathYears_of_Potential_Life_Lost_Rate,premature_death_95% CILow,premature_death_95% CI - High,premature_death_Quartile,premature_death_YPLL Rate (AIAN),...,Unnamed: 266,% Non-Hispanic White,Unnamed: 268,% not proficient in English,Unnamed: 270,Unnamed: 271,Unnamed: 272,% Females,% Rural,Unnamed: 275
0,1000,Alabama,NaN,NaN,82249.0,9820.0,9718.0,9922.0,NaN,5145.0,...,4.553734,3200828,65.280588,50445,1.100683,1.044536,1.15683,51.673922,1957932,40.963183
1,1001,Alabama,Autauga,NaN,787.0,7830.0,6998.0,8662.0,1.0,NaN,...,2.990925,41215,73.770785,419,0.803251,0.281955,1.324548,51.507992,22921,42.002162
2,1003,Alabama,Baldwin,NaN,3147.0,7680.0,7237.0,8124.0,1.0,NaN,...,4.718815,185747,83.207307,1425,0.708458,0.420294,0.996622,51.509627,77060,42.279099
3,1005,Alabama,Barbour,NaN,515.0,11477.0,9908.0,13045.0,3.0,NaN,...,4.524832,11235,45.511626,454,1.890721,1.044348,2.737094,47.079316,18613,67.789635
4,1007,Alabama,Bibb,NaN,476.0,12173.0,10506.0,13839.0,4.0,NaN,...,2.781995,16663,74.408324,71,0.335254,0,0.914948,46.731267,15663,68.352607

In [6]:
data_merged.columns

Index(['FIPS', 'State', 'County', 'Unreliable', 'premature_deathDeaths',
       'premature_deathYears_of_Potential_Life_Lost_Rate',
       'premature_death_95% CILow', 'premature_death_95% CI - High',
       'premature_death_Quartile', 'premature_death_YPLL Rate (AIAN)',
       ...
       'Unnamed: 266', '% Non-Hispanic White', 'Unnamed: 268',
       '% not proficient in English', 'Unnamed: 270', 'Unnamed: 271',
       'Unnamed: 272', '% Females', '% Rural', 'Unnamed: 275'],
      dtype='object', length=523)

In [7]:
data_merged['Unreliable'].value_counts()

x    226
Name: Unreliable, dtype: int64

I noticed a column labeled 'Unreliable'. I referred back to the original data and found that unreliable meant that there was a value reported but was considered unreliable since it was twenty counts or less. Further inspection of the original data showed that the column unreliable is a subgroup of certain features, such as unreliable for the premature death counts. I will leave this for now as I believe that once we isolate the features, this will be corrected within the data.

The column names are a bit messy, so I will rename them to make it easier to read

In [8]:
rename_data={}
rename_data = data_merged.rename(columns={
    'population_Population': 'Population',
    '%_rural_% Rural' : '% Rural', 
    'premature_deathDeaths':'Premature Deaths',
    'adult_smoking_% Smokers': '% Smoking',
    'adult_obesity_% Adults with Obesity':'% Obesity',
    'physical_inactivity_% Physically Inactive':'% Physical Inactivy',
    'excessive_drinking_% Excessive Drinking':'% Excessive Drinking',
    'uninsured_% Uninsured':'% Uninsured',
    'primary_care_physicians_# Primary Care Physicians': 'PCP Number', 
    'primary_care_physicians_Primary Care Physicians Rate': 'PCP Rate',
    'mental_health_providers_# Mental Health Providers': 'MHP Number',  
    'mental_health_providers_Mental Health Provider Rate': 'MHP Rate',
    'preventable_hospital_stays_Preventable Hospitalization Rate': 'Preventable Hospital Rate',
    'mammography_screening_% With Annual Mammogram':'% Mammogram',
    'flu_vaccinations_% Vaccinated':'% Flu Vaccine', 
    'unemployed_% Unemployed': '% Unemployed',
    'Median household income': 'Median Household Income'})

all_data=rename_data[['State','County','Population','% Rural','Premature Deaths','% Smoking','% Obesity','% Physical Inactivy','% Excessive Drinking','% Uninsured','PCP Number', 'PCP Rate','MHP Number', 'MHP Rate','Preventable Hospital Rate', '% Mammogram','% Flu Vaccine','% Unemployed', 'Median Household Income']]

all_data.head()

,State,County,Population,% Rural,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine,% Unemployed,Median Household Income
0,Alabama,NaN,4903185,1957932,82249.0,20,36,29,15,12.0,3187.0,65.0,5310.0,108.0,5466.0,40.0,43.0,"3,0",51771
1,Alabama,Autauga,55869,22921,787.0,20,33,31,14,10.0,26.0,47.0,16.0,29.0,6650.0,39.0,42.0,"2,7",58233
2,Alabama,Baldwin,223234,77060,3147.0,19,30,25,19,13.0,153.0,70.0,220.0,99.0,3471.0,43.0,46.0,"2,7",59871
3,Alabama,Barbour,24686,18613,515.0,26,41,28,12,14.0,8.0,32.0,3.0,12.0,5314.0,44.0,39.0,"3,8",35972
4,Alabama,Bibb,22394,15663,476.0,23,37,33,15,11.0,12.0,54.0,6.0,27.0,6690.0,33.0,40.0,"3,1",47918

In [9]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 0 to 3192
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      3193 non-null   object
 1   County                     3142 non-null   object
 2   Population                 3193 non-null   object
 3   % Rural                    3186 non-null   object
 4   Premature Deaths           2906 non-null   float64
 5   % Smoking                  3193 non-null   int64
 6   % Obesity                  3193 non-null   int64
 7   % Physical Inactivy        3193 non-null   int64
 8   % Excessive Drinking       3193 non-null   int64
 9   % Uninsured                3192 non-null   float64
 10  PCP Number                 3041 non-null   float64
 11  PCP Rate                   3043 non-null   float64
 12  MHP Number                 2972 non-null   float64
 13  MHP Rate                   2972 non-null   float64
 14  Preventable Hospital Rate  3148 non-null   float64
 15  % Mammogram                3173 non-null   float64
 16  % Flu Vaccine              3175 non-null   float64
 17  % Unemployed               3192 non-null   object
 18  Median Household Income    3192 non-null   object
dtypes: float64(9), int64(4), object(6)
memory usage: 498.9+ KB

Checking for duplicated values.

In [10]:
all_data[all_data.duplicated() == True]

Empty DataFrame
Columns: [State, County, Population, % Rural, Premature Deaths, % Smoking, % Obesity, % Physical Inactivy, % Excessive Drinking, % Uninsured, PCP Number, PCP Rate, MHP Number, MHP Rate, Preventable Hospital Rate, % Mammogram, % Flu Vaccine, % Unemployed, Median Household Income]
Index: []

No duplicated values! Now I'll check for missing values.

In [11]:
missing = pd.concat([all_data.isnull().sum(), 100 * all_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                           count         %
State                          0  0.000000
Population                     0  0.000000
% Excessive Drinking           0  0.000000
% Physical Inactivy            0  0.000000
% Smoking                      0  0.000000
% Obesity                      0  0.000000
% Unemployed                   1  0.031319
% Uninsured                    1  0.031319
Median Household Income        1  0.031319
% Rural                        7  0.219230
% Flu Vaccine                 18  0.563733
% Mammogram                   20  0.626370
Preventable Hospital Rate     45  1.409333
County                        51  1.597244
PCP Rate                     150  4.697776
PCP Number                   152  4.760413
MHP Number                   221  6.921391
MHP Rate                     221  6.921391
Premature Deaths             287  8.988412

Only 'Premature Deaths', 'MHP Rate', and 'MHP Number' are above 5% so I will remove these.

I did notice there are 51 missing County's when I called to look at the missing values. I am curious if this is a row in each state for the average or sum of the state.

In [ ]:
df_ave=all_data.set_index('State').groupby('State').mean()
df_ave.head()

In [ ]:
df_sum=all_data.set_index('State').groupby('State').sum()
df_sum.head()

In [ ]:
all_data.head()

The row for Alabama that had a null value in the county section did not match numbers with any of the averages or sums for the other features.

I decided to drop the null value

In [ ]:
health_data=all_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
health_data.head()

In [ ]:
health_data.info()

In [ ]:
%notebook "C:\Users\aykal\OneDrive\Documents\GitHub\SB-Data-Science\DataScienceCapstone2\health_data.ipynb"