# Life Expectancy Data Wrangling

In this project, I will be looking at a few selected health features to see how they vary across the states in the United States and to see if how they affect life expectancy.

This data was found on Kaggle and originates from University of Wisconsin, School of Medicine and Public Health at
https://www.countyhealthrankings.org/explore-health-rankings/rankings-data-documentation

The data I am looking at is "2021 County Health Rankings National Data"

I have looked through the data and found that the data  breaks down each feature into further categories such as ethnicity of the population.

Some features such as "Poor or fair health" or "Poor physical heath days" were based off of self-reporting by people. I felt that this was a little too subjective. 

* Population
* % Rural
* Premature Deaths : Number of premature deaths (a death is considered premature if the individual is younger than 75)
* Smoking % : Percentage of adults that report currently smoking
* Obesity % : Percentage of adults that report BMI >=30
* Physical Inactivy % : Percentage of adults that report no leisure-time physical activity
* Excessive Drinking: Percentage of adults that report excessive drinking (data does not have additional information on what is considered excessive drinking)
* Uninsured : Number of people under age 65 without insurance 
* PCP Number : Number of Primary Care Physicians in patient care
* PCP Rate : Primary Care Physician per 100,000 population
* MHP Number : Number of Mental Health Providers
* MHP Rate : Mental Health Provider per 100,000 population
* Preventable Hospital Rate : Discharges for Ambulatory Care Sensitive Conditions per 100,000 Medicare Enrollees
* Mammogram % : Percentage of female Medicare enrollees having an annual mammogram (age 65-74)
* Flu Vaccine % : Percentage of Medicare enrollees having an annual flu vaccination 
* Unemployment : Number of people ages 16+ unemployed and looking for work
* Median Household income -

First, I will add the libraries needed and the csv files.

In [1]:
import csv
import pandas as pd
from sb_utils import save_file

In [2]:
file = ('rankmd.csv')
df=pd.read_csv(file, sep=';')
df.head()

,FIPS,State,County,Unreliable,premature_deathDeaths,premature_deathYears_of_Potential_Life_Lost_Rate,premature_death_95% CILow,premature_death_95% CI - High,premature_death_Quartile,premature_death_YPLL Rate (AIAN),...,drive_alone_to_work_% Drive Alone (Hispanic) 95% CI - High,drive_alone_to_work_% Drive Alone (White),drive_alone_to_work_% Drive Alone (White) 95% CI - Low,drive_alone_to_work_% Drive Alone (White) 95% CI - High,long_commute_driving_alone_# Workers who Drive Alone,long_commute_driving_alone_% Long Commute - Drives Alone,long_commute_driving_alone_95% CI - Low,long_commute_driving_alone_95% CI - High,long_commute_driving_alone_Quartile,Unnamed: 249
0,1000,Alabama,NaN,NaN,82249.0,9820.0,9718.0,9922.0,NaN,5145.0,...,78.0,87.0,87.0,87.0,2073072,35,34,35,NaN,NaN
1,1001,Alabama,Autauga,NaN,787.0,7830.0,6998.0,8662.0,1.0,NaN,...,NaN,82.0,78.0,87.0,24635,38,34,42,2.0,NaN
2,1003,Alabama,Baldwin,NaN,3147.0,7680.0,7237.0,8124.0,1.0,NaN,...,83.0,82.0,80.0,84.0,93141,40,38,43,3.0,NaN
3,1005,Alabama,Barbour,NaN,515.0,11477.0,9908.0,13045.0,3.0,NaN,...,NaN,86.0,82.0,91.0,8231,31,26,36,2.0,NaN
4,1007,Alabama,Bibb,NaN,476.0,12173.0,10506.0,13839.0,4.0,NaN,...,NaN,NaN,NaN,NaN,8167,52,44,60,4.0,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Columns: 250 entries, FIPS to Unnamed: 249
dtypes: float64(194), int64(34), object(22)
memory usage: 6.1+ MB

The life expectancy column was on a different excel sheet, so I will add the second sheet here and merge the two together.

In [4]:
xls=pd.ExcelFile('rankexcel.xlsx')
df2=pd.read_excel(xls,'Additional Measure Data')
df2=df2.reset_index()
df2=df2.rename(columns={"Unnamed: 1":"State","Unnamed: 2":"County"})
df2=df2.drop(['index','Unnamed: 0'], axis=1)
df2.head()

,State,County,Life expectancy,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 266,% Non-Hispanic White,Unnamed: 268,% not proficient in English,Unnamed: 270,Unnamed: 271,Unnamed: 272,% Females,% Rural,Unnamed: 275
0,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,Life Expectancy (AIAN) 95% CI - High,Life Expectancy (Asian),Life Expectancy (Asian) 95% CI - Low,...,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% Female,# Rural,% Rural
1,Alabama,NaN,75.548075,75.4649,75.631251,114.483062,100.157886,128.808237,88.144914,86.519732,...,4.553734,3200828,65.280588,50445,1.100683,1.044536,1.15683,51.673922,1957932,40.963183
2,Alabama,Autauga,77.162581,76.392165,77.932998,NaN,NaN,NaN,NaN,NaN,...,2.990925,41215,73.770785,419,0.803251,0.281955,1.324548,51.507992,22921,42.002162
3,Alabama,Baldwin,78.213405,77.82357,78.60324,NaN,NaN,NaN,83.027953,79.672306,...,4.718815,185747,83.207307,1425,0.708458,0.420294,0.996622,51.509627,77060,42.279099
4,Alabama,Barbour,74.054741,72.874678,75.234805,NaN,NaN,NaN,NaN,NaN,...,4.524832,11235,45.511626,454,1.890721,1.044348,2.737094,47.079316,18613,67.789635

In [5]:
data_merged=df.merge(df2, on=['County','State'])
data_merged.head()

,FIPS,State,County,Unreliable,premature_deathDeaths,premature_deathYears_of_Potential_Life_Lost_Rate,premature_death_95% CILow,premature_death_95% CI - High,premature_death_Quartile,premature_death_YPLL Rate (AIAN),...,Unnamed: 266,% Non-Hispanic White,Unnamed: 268,% not proficient in English,Unnamed: 270,Unnamed: 271,Unnamed: 272,% Females,% Rural,Unnamed: 275
0,1000,Alabama,NaN,NaN,82249.0,9820.0,9718.0,9922.0,NaN,5145.0,...,4.553734,3200828,65.280588,50445,1.100683,1.044536,1.15683,51.673922,1957932,40.963183
1,1001,Alabama,Autauga,NaN,787.0,7830.0,6998.0,8662.0,1.0,NaN,...,2.990925,41215,73.770785,419,0.803251,0.281955,1.324548,51.507992,22921,42.002162
2,1003,Alabama,Baldwin,NaN,3147.0,7680.0,7237.0,8124.0,1.0,NaN,...,4.718815,185747,83.207307,1425,0.708458,0.420294,0.996622,51.509627,77060,42.279099
3,1005,Alabama,Barbour,NaN,515.0,11477.0,9908.0,13045.0,3.0,NaN,...,4.524832,11235,45.511626,454,1.890721,1.044348,2.737094,47.079316,18613,67.789635
4,1007,Alabama,Bibb,NaN,476.0,12173.0,10506.0,13839.0,4.0,NaN,...,2.781995,16663,74.408324,71,0.335254,0,0.914948,46.731267,15663,68.352607

In [6]:
data_merged.columns

Index(['FIPS', 'State', 'County', 'Unreliable', 'premature_deathDeaths',
       'premature_deathYears_of_Potential_Life_Lost_Rate',
       'premature_death_95% CILow', 'premature_death_95% CI - High',
       'premature_death_Quartile', 'premature_death_YPLL Rate (AIAN)',
       ...
       'Unnamed: 266', '% Non-Hispanic White', 'Unnamed: 268',
       '% not proficient in English', 'Unnamed: 270', 'Unnamed: 271',
       'Unnamed: 272', '% Females', '% Rural', 'Unnamed: 275'],
      dtype='object', length=523)

I noticed a column labeled 'Unreliable'. I referred back to the original data and found that unreliable meant that there was a value reported but was considered unreliable since it was twenty counts or less. Further inspection of the original data showed that the column unreliable is a subgroup of certain features, such as unreliable for the premature death counts. I will leave this for now as I believe that once we isolate the features, this will be corrected within the data.

In [7]:
data_merged['Unreliable'].value_counts()

x    226
Name: Unreliable, dtype: int64

Due to the way that the excel sheet was downloaded, the column names are very messy. The overall feature is broken into smaller subgroups and the columns are named with the feature first and then the subgroup. I.E. premature_deathDeaths is the feature Premature Deaths, subgroup Deaths(number of deaths).

I will rename as I isolate the main features to use as I don't need to look further into those subgroups right now.

In [8]:
rename_data={}
rename_data = data_merged.rename(columns={
    'Life expectancy' : 'Life Expectancy',
    'population_Population': 'Population',
    '%_rural_% Rural' : '% Rural', 
    'premature_deathDeaths':'Premature Deaths',
    'adult_smoking_% Smokers': '% Smoking',
    'adult_obesity_% Adults with Obesity':'% Obesity',
    'physical_inactivity_% Physically Inactive':'% Physical Inactivy',
    'excessive_drinking_% Excessive Drinking':'% Excessive Drinking',
    'uninsured_% Uninsured':'% Uninsured',
    'primary_care_physicians_# Primary Care Physicians': 'PCP Number', 
    'primary_care_physicians_Primary Care Physicians Rate': 'PCP Rate',
    'mental_health_providers_# Mental Health Providers': 'MHP Number',  
    'mental_health_providers_Mental Health Provider Rate': 'MHP Rate',
    'preventable_hospital_stays_Preventable Hospitalization Rate': 'Preventable Hospital Rate',
    'mammography_screening_% With Annual Mammogram':'% Mammogram',
    'flu_vaccinations_% Vaccinated':'% Flu Vaccine', 
    'unemployed_% Unemployed': '% Unemployed',
    'Median household income': 'Median Household Income'})

all_data=rename_data[['State','County','Life Expectancy','Population','% Rural','Premature Deaths','% Smoking','% Obesity','% Physical Inactivy','% Excessive Drinking','% Uninsured','PCP Number', 'PCP Rate','MHP Number', 'MHP Rate','Preventable Hospital Rate', '% Mammogram','% Flu Vaccine','% Unemployed', 'Median Household Income']]

all_data.head()

,State,County,Life Expectancy,Population,% Rural,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine,% Unemployed,Median Household Income
0,Alabama,NaN,75.548075,4903185,1957932,82249.0,20,36,29,15,12.0,3187.0,65.0,5310.0,108.0,5466.0,40.0,43.0,"3,0",51771
1,Alabama,Autauga,77.162581,55869,22921,787.0,20,33,31,14,10.0,26.0,47.0,16.0,29.0,6650.0,39.0,42.0,"2,7",58233
2,Alabama,Baldwin,78.213405,223234,77060,3147.0,19,30,25,19,13.0,153.0,70.0,220.0,99.0,3471.0,43.0,46.0,"2,7",59871
3,Alabama,Barbour,74.054741,24686,18613,515.0,26,41,28,12,14.0,8.0,32.0,3.0,12.0,5314.0,44.0,39.0,"3,8",35972
4,Alabama,Bibb,73.408784,22394,15663,476.0,23,37,33,15,11.0,12.0,54.0,6.0,27.0,6690.0,33.0,40.0,"3,1",47918

In [9]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 0 to 3192
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      3193 non-null   object
 1   County                     3142 non-null   object
 2   Life Expectancy            3124 non-null   object
 3   Population                 3193 non-null   object
 4   % Rural                    3186 non-null   object
 5   Premature Deaths           2906 non-null   float64
 6   % Smoking                  3193 non-null   int64
 7   % Obesity                  3193 non-null   int64
 8   % Physical Inactivy        3193 non-null   int64
 9   % Excessive Drinking       3193 non-null   int64
 10  % Uninsured                3192 non-null   float64
 11  PCP Number                 3041 non-null   float64
 12  PCP Rate                   3043 non-null   float64
 13  MHP Number                 2972 non-null   float64
 14  MHP Rate                   2972 non-null   float64
 15  Preventable Hospital Rate  3148 non-null   float64
 16  % Mammogram                3173 non-null   float64
 17  % Flu Vaccine              3175 non-null   float64
 18  % Unemployed               3192 non-null   object
 19  Median Household Income    3192 non-null   object
dtypes: float64(9), int64(4), object(7)
memory usage: 523.9+ KB

Checking for duplicated values.

In [10]:
all_data[all_data.duplicated() == True]

Empty DataFrame
Columns: [State, County, Life Expectancy, Population, % Rural, Premature Deaths, % Smoking, % Obesity, % Physical Inactivy, % Excessive Drinking, % Uninsured, PCP Number, PCP Rate, MHP Number, MHP Rate, Preventable Hospital Rate, % Mammogram, % Flu Vaccine, % Unemployed, Median Household Income]
Index: []

No duplicated values! Now I'll check for missing values.

In [11]:
missing = pd.concat([all_data.isnull().sum(), 100 * all_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                           count         %
State                          0  0.000000
% Physical Inactivy            0  0.000000
% Obesity                      0  0.000000
% Smoking                      0  0.000000
% Excessive Drinking           0  0.000000
Population                     0  0.000000
% Unemployed                   1  0.031319
% Uninsured                    1  0.031319
Median Household Income        1  0.031319
% Rural                        7  0.219230
% Flu Vaccine                 18  0.563733
% Mammogram                   20  0.626370
Preventable Hospital Rate     45  1.409333
County                        51  1.597244
Life Expectancy               69  2.160977
PCP Rate                     150  4.697776
PCP Number                   152  4.760413
MHP Number                   221  6.921391
MHP Rate                     221  6.921391
Premature Deaths             287  8.988412

Only 'Premature Deaths', 'MHP Rate', and 'MHP Number' are above 5% so I will remove the other features. But first I did notice there are 51 missing County's when I called to look at the missing values. I am curious if this is a row in each state for the average or sum of the state. I will remove the line for now to see if I can compare the average or sum to the null county value for Alabama.

In [12]:
county = all_data.dropna(axis=0, subset=("State","County"))

In [16]:
df_sum=county.set_index('State').groupby('State').sum()
df_sum.head()

,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine
State,,,,,,,,,,,,,
Alabama,82249.0,1532,2566,2140,959,842.0,3187.0,2954.0,5307.0,4391.0,392168.0,2575.0,2703.0
Alaska,8063.0,688,986,667,556,491.0,690.0,2364.0,3652.0,13022.0,45097.0,484.0,475.0
Arizona,81638.0,291,461,365,282,210.0,4708.0,784.0,10193.0,1486.0,45545.0,525.0,580.0
Arkansas,48253.0,1883,2731,2531,1191,730.0,2000.0,3345.0,7133.0,11168.0,390863.0,2663.0,3213.0
California,350532.0,868,1578,1223,1211,456.0,31557.0,3990.0,147492.0,21595.0,186234.0,2157.0,2381.0

In [17]:
df_mean=county.set_index('State').groupby('State').mean()
df_mean.head()

,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine
State,,,,,,,,,,,,,
Alabama,1227.597015,22.865672,38.298507,31.940299,14.313433,12.567164,49.030769,45.446154,80.409091,66.530303,5853.253731,38.432836,40.343284
Alaska,447.944444,23.724138,34.000000,23.000000,19.172414,16.931034,27.600000,94.560000,130.428571,465.071429,3221.214286,30.250000,29.687500
Arizona,5442.533333,19.400000,30.733333,24.333333,18.800000,14.000000,313.866667,52.266667,679.533333,99.066667,3036.333333,35.000000,38.666667
Arkansas,643.373333,25.106667,36.413333,33.746667,15.880000,9.733333,27.397260,45.821918,99.069444,155.111111,5211.506667,35.506667,42.840000
California,6259.500000,14.965517,27.206897,21.086207,20.879310,7.862069,544.086207,68.793103,2542.965517,372.327586,3210.931034,37.189655,41.051724

The row for Alabama that had a null county had the value 3187 for PCP Number, and a value of 5310 for MHP Number. The sum calculated for total PCP number in Alabama was 3187 and the total MHP Number was 5307. 

For smoking, the mean is calculated to be 22.8 and obesity at 38.3, this differs from the values 20 and 36 respectively in the null county line for Alabama. However, I may assume that these may be due to rounding before calculating the mean. 

Given these values, I would assume that the null county line for each state is holding the average or mean value for that particular feature for each state. I will remove these values for now so that the averages and sums do not skew my data.

In [18]:
missing2 = pd.concat([county.isnull().sum(), 100 * county.isnull().mean()], axis=1)
missing2.columns=['count', '%']
missing2.sort_values(by='count')

                           count         %
State                          0  0.000000
% Physical Inactivy            0  0.000000
% Obesity                      0  0.000000
% Smoking                      0  0.000000
% Excessive Drinking           0  0.000000
Population                     0  0.000000
County                         0  0.000000
% Unemployed                   1  0.031827
% Uninsured                    1  0.031827
Median Household Income        1  0.031827
% Rural                        7  0.222788
% Flu Vaccine                 18  0.572884
% Mammogram                   20  0.636537
Preventable Hospital Rate     45  1.432209
Life Expectancy               69  2.196053
PCP Rate                     150  4.774029
PCP Number                   152  4.837683
MHP Number                   221  7.033736
MHP Rate                     221  7.033736
Premature Deaths             287  9.134309

In [19]:
all_data2 = county.dropna(axis=0, subset=("PCP Number","PCP Rate","Preventable Hospital Rate","% Rural","Life Expectancy"))
all_data2.head()

,State,County,Life Expectancy,Population,% Rural,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine,% Unemployed,Median Household Income
1,Alabama,Autauga,77.162581,55869,22921,787.0,20,33,31,14,10.0,26.0,47.0,16.0,29.0,6650.0,39.0,42.0,"2,7",58233
2,Alabama,Baldwin,78.213405,223234,77060,3147.0,19,30,25,19,13.0,153.0,70.0,220.0,99.0,3471.0,43.0,46.0,"2,7",59871
3,Alabama,Barbour,74.054741,24686,18613,515.0,26,41,28,12,14.0,8.0,32.0,3.0,12.0,5314.0,44.0,39.0,"3,8",35972
4,Alabama,Bibb,73.408784,22394,15663,476.0,23,37,33,15,11.0,12.0,54.0,6.0,27.0,6690.0,33.0,40.0,"3,1",47918
5,Alabama,Blount,74.370874,57826,51562,1100.0,23,33,33,16,14.0,12.0,21.0,10.0,17.0,4440.0,37.0,40.0,"2,7",52902

In [20]:
missing3 = pd.concat([all_data2.isnull().sum(), 100 * all_data2.isnull().mean()], axis=1)
missing3.columns=['count', '%']
missing3.sort_values(by='count')

                           count         %
State                          0  0.000000
% Flu Vaccine                  0  0.000000
% Mammogram                    0  0.000000
Preventable Hospital Rate      0  0.000000
PCP Rate                       0  0.000000
PCP Number                     0  0.000000
% Uninsured                    0  0.000000
% Unemployed                   0  0.000000
% Excessive Drinking           0  0.000000
% Obesity                      0  0.000000
% Smoking                      0  0.000000
% Rural                        0  0.000000
Population                     0  0.000000
Life Expectancy                0  0.000000
County                         0  0.000000
% Physical Inactivy            0  0.000000
Median Household Income        0  0.000000
MHP Number                   139  4.779917
MHP Rate                     139  4.779917
Premature Deaths             152  5.226960

In [33]:
MHP_num_mean=all_data2['MHP Number'].mean()
all_data2['MHP Number'].fillna(value=MHP_num_mean,inplace=True)

#all_data2.dropna(axis=0, subset=("PCP Number","PCP Rate","Preventable Hospital Rate","% Rural","Life Expectancy"))

C:\Users\aykal\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [35]:
MHP_rate_mean=all_data2['MHP Rate'].mean()
all_data2['MHP Rate'].fillna(value=MHP_rate_mean,inplace=True)

C:\Users\aykal\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [37]:
pre_death=all_data2['Premature Deaths'].mean()
all_data2['Premature Deaths'].fillna(value=pre_death,inplace=True)

C:\Users\aykal\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [38]:
missing4 = pd.concat([all_data2.isnull().sum(), 100 * all_data2.isnull().mean()], axis=1)
missing4.columns=['count', '%']
missing4.sort_values(by='count')

                           count    %
State                          0  0.0
% Flu Vaccine                  0  0.0
% Mammogram                    0  0.0
Preventable Hospital Rate      0  0.0
MHP Rate                       0  0.0
MHP Number                     0  0.0
PCP Rate                       0  0.0
PCP Number                     0  0.0
% Uninsured                    0  0.0
% Excessive Drinking           0  0.0
% Physical Inactivy            0  0.0
% Obesity                      0  0.0
% Smoking                      0  0.0
Premature Deaths               0  0.0
% Rural                        0  0.0
Population                     0  0.0
Life Expectancy                0  0.0
County                         0  0.0
% Unemployed                   0  0.0
Median Household Income        0  0.0

In [39]:
all_data2.head()

,State,County,Life Expectancy,Population,% Rural,Premature Deaths,% Smoking,% Obesity,% Physical Inactivy,% Excessive Drinking,% Uninsured,PCP Number,PCP Rate,MHP Number,MHP Rate,Preventable Hospital Rate,% Mammogram,% Flu Vaccine,% Unemployed,Median Household Income
1,Alabama,Autauga,77.162581,55869,22921,787.0,20,33,31,14,10.0,26.0,47.0,16.0,29.0,6650.0,39.0,42.0,"2,7",58233
2,Alabama,Baldwin,78.213405,223234,77060,3147.0,19,30,25,19,13.0,153.0,70.0,220.0,99.0,3471.0,43.0,46.0,"2,7",59871
3,Alabama,Barbour,74.054741,24686,18613,515.0,26,41,28,12,14.0,8.0,32.0,3.0,12.0,5314.0,44.0,39.0,"3,8",35972
4,Alabama,Bibb,73.408784,22394,15663,476.0,23,37,33,15,11.0,12.0,54.0,6.0,27.0,6690.0,33.0,40.0,"3,1",47918
5,Alabama,Blount,74.370874,57826,51562,1100.0,23,33,33,16,14.0,12.0,21.0,10.0,17.0,4440.0,37.0,40.0,"2,7",52902

In [42]:
all_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2908 entries, 1 to 3192
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      2908 non-null   object
 1   County                     2908 non-null   object
 2   Life Expectancy            2908 non-null   object
 3   Population                 2908 non-null   object
 4   % Rural                    2908 non-null   object
 5   Premature Deaths           2908 non-null   float64
 6   % Smoking                  2908 non-null   int64
 7   % Obesity                  2908 non-null   int64
 8   % Physical Inactivy        2908 non-null   int64
 9   % Excessive Drinking       2908 non-null   int64
 10  % Uninsured                2908 non-null   float64
 11  PCP Number                 2908 non-null   float64
 12  PCP Rate                   2908 non-null   float64
 13  MHP Number                 2908 non-null   float64
 14  MHP Rate                   2908 non-null   float64
 15  Preventable Hospital Rate  2908 non-null   float64
 16  % Mammogram                2908 non-null   float64
 17  % Flu Vaccine              2908 non-null   float64
 18  % Unemployed               2908 non-null   object
 19  Median Household Income    2908 non-null   object
dtypes: float64(9), int64(4), object(7)
memory usage: 477.1+ KB

In [45]:
datapath = '../data'

save_file(all_data2, 'health_data.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "../data\health_data.csv"