In [1]:
#Data Collection: load data from rankmd - first sheet

import csv
import pandas as pd

file = ('rankmd.csv')
df=pd.read_csv(file, sep=';')
df.head()

,FIPS,State,County,Unreliable,premature_deathDeaths,premature_deathYears_of_Potential_Life_Lost_Rate,premature_death_95% CILow,premature_death_95% CI - High,premature_death_Quartile,premature_death_YPLL Rate (AIAN),...,drive_alone_to_work_% Drive Alone (Hispanic) 95% CI - High,drive_alone_to_work_% Drive Alone (White),drive_alone_to_work_% Drive Alone (White) 95% CI - Low,drive_alone_to_work_% Drive Alone (White) 95% CI - High,long_commute_driving_alone_# Workers who Drive Alone,long_commute_driving_alone_% Long Commute - Drives Alone,long_commute_driving_alone_95% CI - Low,long_commute_driving_alone_95% CI - High,long_commute_driving_alone_Quartile,Unnamed: 249
0,1000,Alabama,NaN,NaN,82249.0,9820.0,9718.0,9922.0,NaN,5145.0,...,78.0,87.0,87.0,87.0,2073072,35,34,35,NaN,NaN
1,1001,Alabama,Autauga,NaN,787.0,7830.0,6998.0,8662.0,1.0,NaN,...,NaN,82.0,78.0,87.0,24635,38,34,42,2.0,NaN
2,1003,Alabama,Baldwin,NaN,3147.0,7680.0,7237.0,8124.0,1.0,NaN,...,83.0,82.0,80.0,84.0,93141,40,38,43,3.0,NaN
3,1005,Alabama,Barbour,NaN,515.0,11477.0,9908.0,13045.0,3.0,NaN,...,NaN,86.0,82.0,91.0,8231,31,26,36,2.0,NaN
4,1007,Alabama,Bibb,NaN,476.0,12173.0,10506.0,13839.0,4.0,NaN,...,NaN,NaN,NaN,NaN,8167,52,44,60,4.0,NaN

In [2]:
#Data Definition: isolate WA rows, rename and isolate columns with data to use
wa_data={}
wa_data=df.loc[3000:3039,:]
wa_data = wa_data.rename(columns={"preventable_hospital_stays_Preventable Hospitalization Rate": "Preventable Hospital Stays",
                                  'primary_care_physicians_# Primary Care Physicians': 'PCP Number', 
                              'primary_care_physicians_Primary Care Physicians Rate': 'PCP Rate', 
                              'mental_health_providers_# Mental Health Providers': 'MHP Number', 
                              'mental_health_providers_Mental Health Provider Rate': 'MHP Rate',
                                  'adult_smoking_% Smokers': 'Smoking %',
                                  'adult_obesity_% Adults with Obesity':'Obesity %',
                                  'physical_inactivity_% Physically Inactive':'Physical Inactivy %',
                                  'mammography_screening_% With Annual Mammogram':'Mammogram Percent',
                                  'flu_vaccinations_% Vaccinated':'Flu Vaccine Percent',
                                  'income_inequality_80th Percentile Income':'Income 80%', 
                                  'income_inequality_20th Percentile Income':'Income 20%'
                                 })

wa_data2=wa_data[['State','County','Preventable Hospital Stays','PCP Number', 'PCP Rate','MHP Number', 'MHP Rate','Smoking %','Obesity %','Physical Inactivy %','Mammogram Percent','Flu Vaccine Percent','Income 80%', 'Income 20%']]

wa_data2.head()

,State,County,Preventable Hospital Stays,PCP Number,PCP Rate,MHP Number,MHP Rate,Smoking %,Obesity %,Physical Inactivy %,Mammogram Percent,Flu Vaccine Percent,Income 80%,Income 20%
3000,Washington,NaN,2853.0,6364.0,84.0,30397.0,399.0,12,29,16,40.0,47.0,141566.0,31895.0
3001,Washington,Adams,2294.0,10.0,51.0,34.0,170.0,17,35,23,34.0,37.0,92867.0,22009.0
3002,Washington,Asotin,2492.0,18.0,80.0,86.0,381.0,18,32,19,49.0,48.0,101681.0,25648.0
3003,Washington,Benton,4160.0,141.0,70.0,585.0,286.0,14,35,16,43.0,52.0,129480.0,30353.0
3004,Washington,Chelan,2277.0,94.0,122.0,314.0,407.0,14,33,20,39.0,34.0,111884.0,26439.0

In [3]:
#Data Collection/Data Organization: Data from rankexcel - second sheet, rename columns to use

xls=pd.ExcelFile('rankexcel.xlsx')
df1=pd.read_excel(xls,'Additional Measure Data')
wa_le=df1.iloc[3001:3041, 0:4]
life_exp=wa_le.reset_index()
life_exp2=life_exp.rename(columns={"Unnamed: 1":"State","Unnamed: 2":"County"})
life_exp3=life_exp2.drop(['index','Unnamed: 0'], axis=1)
life_exp3.head()

        State  County Life expectancy
0  Washington     NaN       80.420203
1  Washington   Adams       80.204006
2  Washington  Asotin         79.3367
3  Washington  Benton       80.447904
4  Washington  Chelan       80.627327

In [4]:
#Data Collection - Join data 
all_data=wa_data2.merge(life_exp3, on=['County','State'])
all_data.head()

,State,County,Preventable Hospital Stays,PCP Number,PCP Rate,MHP Number,MHP Rate,Smoking %,Obesity %,Physical Inactivy %,Mammogram Percent,Flu Vaccine Percent,Income 80%,Income 20%,Life expectancy
0,Washington,NaN,2853.0,6364.0,84.0,30397.0,399.0,12,29,16,40.0,47.0,141566.0,31895.0,80.420203
1,Washington,Adams,2294.0,10.0,51.0,34.0,170.0,17,35,23,34.0,37.0,92867.0,22009.0,80.204006
2,Washington,Asotin,2492.0,18.0,80.0,86.0,381.0,18,32,19,49.0,48.0,101681.0,25648.0,79.3367
3,Washington,Benton,4160.0,141.0,70.0,585.0,286.0,14,35,16,43.0,52.0,129480.0,30353.0,80.447904
4,Washington,Chelan,2277.0,94.0,122.0,314.0,407.0,14,33,20,39.0,34.0,111884.0,26439.0,80.627327

In [ ]:
#Find Max of preventable hospitalization stays, PCP%, rate, ratio, MHP%, rate, ratio
wa_max=wa_data2.max(axis=0)
print(wa_max)

In [ ]:
#Find Mean of preventable hospitalization stays, PCP%, rate, ratio, MHP%, rate, ratio
wa_min=wa_data2.min(axis=0)
print(wa_min)

In [ ]:
wa_mean=wa_data2.mean(axis=0)
print(wa_mean)